<main class="main">
  <button (click)="isCardOpened = !isCardOpened" class="btn">Open</button>

  <app-dialog [(visible)]="isCardOpened">
    <app-opened-card *ngIf="openedCard" [card]="openedCard" [lists]="(list$|async) ?? []"></app-opened-card>
    <button (click)="isCardOpened = !isCardOpened" class="btn">Close</button>
  </app-dialog>
  <app-dialog>text</app-dialog>

  <h1 class="text-3xl font-bold m-3">
    My task board
  </h1>

  <div class="flex flex-row">
    <div *ngFor="let list of (list$ | async); index as i">
      <app-list [list]="list" [cards]="(card$|async) ?? []" [lists]="(list$|async) ?? []" (updateEvent)="this.update()" (OpenCardEvent)="this.openCard($event)"></app-list>
    </div>
    <ng-container *ngIf="!listCreating;else CreateList">
      <div class="flex flex-row border border-gray-400 border-x-0 border-y-1 p-3 my-3 self-start">
        <div class="grow font-bold">
          New list
        </div>
        <div (click)="listCreating=true">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
          </svg>
        </div>
      </div>
    </ng-container>
  </div>
</main>

<ng-template #CreateList>
  <div class="flex flex-col">
    <div class="border border-gray-400 rounded p-3 my-3">
      <input type="text" [(ngModel)]="newList">
    </div>
    <div class="flex flex-row">
      <div (click)="createList();listCreating=false;newList=''" class="bg-gray-400 rounded px-3 m-3">
        Add list
      </div>
      <div (click)="listCreating=false;newList=''" class=" border border-gray-400 rounded px-3 m-3">
        Cancel
      </div>
    </div>
  </div>
</ng-template>